.side-menu-option--container {
  width: clamp(35vw, 100%, 40vw);
  height: clamp(1vh, 100%, 1vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
}

.side-menu-option--label {
  margin-right: auto;
  margin-left: 15px;
}

.side-menu-option--delete {
  width: 40px;
  margin: 0 13px;
}

.side-menu-option--hidden {
  visibility: hidden;
  pointer-events: none;
  background-color: blue;
}

.side-menu-option--icon {
  width: 40px;
  margin: 0 13px;
}
