<div class="tasks-list--container">
  <div class="tasks-list--header">
    <div class="tasks-list--header--left">
      <img class="tasks-list--header--checkbox"
           [src]="'assets/images/checkbox_'+(areTasksInCategoryComplete() ? '' : 'un')+'filled.png'"
           alt="checkbox"
      />
      <h1 class="tasks-list--header-title">{{getFilterTitle()}}</h1>
    </div>
    <div>
      <img
        class="tasks-list--header--sort"
        src="assets/images/sort.png"
        alt="sort"
        (click)="toggleSort()"/>
      <div
        [class]="'tasks-list--sort-container '+(showSort ? '' : 'gone')"
        (click)="toggleSort()"
      ><app-sort></app-sort></div>
    </div>
  </div>

  <div class="tasks-list--main-container">

    <app-new-task></app-new-task>

    <div class="tasks-list--tasks-container">
      <app-task *ngFor="let task of getFilteredList()"
                [task]="task"
      ></app-task>

    </div>


  </div>

</div>
