<div class="tasks-list--container">
  <div class="tasks-list--header">
    <div class="tasks-list--header--left">
      <img class="tasks-list--header--checkbox" src="assets/images/checkbox_unfilled.png" alt="checkbox" />
      <h1 class="tasks-list--header-title">Personal</h1>
    </div>
    <img class="tasks-list--header--sort" src="assets/images/sort.png" alt="sort" />
  </div>

  <div class="tasks-list--main-container">

    <app-new-task></app-new-task>
    <app-task></app-task>
    <app-task></app-task>
    <app-task></app-task>
    <app-task></app-task>


  </div>

</div>
