<div class="editor--main-container">
  <div  class="editor--horizontal-line"></div>

  <div [class]="'editor--toolbar '+(showToolbar ? '' : 'gone')">
    <div class="editor--toolbar-group">
      <img
        *ngFor="let button of textButtons"
        [src]="'assets/images/editor/'+button.iconName"
        [alt]="button.alt"
        (click)="insertMarkdown(button.id)"/>
    </div>
    <div class="editor--toolbar-group">
      <img
        *ngFor="let button of listButtons"
        [src]="'assets/images/editor/'+button.iconName"
        [alt]="button.alt"
        (click)="insertMarkdown(button.id)"/>
    </div>
    <div class="editor--toolbar-group">
      <img
        *ngFor="let button of otherButtons"
        [src]="'assets/images/editor/'+button.iconName"
        [alt]="button.alt"
        (click)="insertMarkdown(button.id)"/>
    </div>

    <div class="header--slider-container" (click)="toggleWrite()">

      <div [class]="'header--slider-write-container '+ (write ? 'filled' : '')">
        <p class="header--slider-write">Write</p>
      </div>

      <div [class]="'header--slider-preview-container '+ (!write ? 'filled' : '')">
        <p class="header--slider-preview">View</p>
      </div>

    </div>
  </div>

  <div [class]="'editor--horizontal-line '+(showToolbar ? '' : 'gone')"></div>

  <div
    [class]="'editor--container '+(tasks.length ? '' : 'hidden')"
    *ngIf="write; else elseBlock" xmlns="http://www.w3.org/1999/html">

  <textarea
    #editorInput
    class="editor--write-input"
    type="text"
    placeholder="Task notes..."
    [(ngModel)]="taskContent"
    (change)="onChange($event)"></textarea>
  </div>

  <ng-template #elseBlock>

    <div class="editor--container">
      <div class="editor--preview-container" [innerHTML]="contentTags"></div>
    </div>

  </ng-template>

</div>


