.editor--container {
  height: 100%;
  border: 1px solid var(--primary-colour);
  border-radius: 24px;
}

.editor--write-input {
  margin: 15px;
  font-size: 1.3rem;
  width: 97%;
  height: 100%;
}

.editor--preview-container {
  margin: 5px 5px 5px 10px;
}
