.header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--button-container {
  margin-inline: 30px;
  margin-top: 5px;
  width: fit-content;
}

.header--button-container > img {
  aspect-ratio: 1/1;
  width: 40px;
  margin-inline: 10px;
  cursor: pointer;
}

.header--title {
  margin: 15px 15px 15px 30px;
  font-size: 30px;
  line-height: 55px;
  width: 100%;
}

.flipped {
  transform: rotate(180deg);
}

.header--left-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.header--back {
  aspect-ratio: 1/1;
  width: 30px;
  margin: 15px 15px 15px 30px;
  transform: rotate(90deg);
  cursor: pointer;
}

