.header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--button-container {
  margin-inline: 30px;
  margin-top: 5px;
}

.header--button-container > img {
  aspect-ratio: 1/1;
  width: 40px;
  margin-inline: 10px;
}

.header--title {
  margin: 15px 15px 15px 30px;
  font-size: 30px;
  line-height: 55px;
}

