.header--container {
  background: var(--primary-colour);
  border-radius: 24px;

  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--title {
  margin-left: 30px;
  font-size: 30px;
  line-height: 55px;

  color: #FFFFFF;
}

.header--slider-container {
  margin: 20px;
  display: flex;
  background: #5E6472;
  border: 1px solid var(--seconary-accent);
  border-radius: 24px;
}

.header--slider {
  border-radius: 24px;
  background-color: var(--seconary-accent);
}

.header--slider-write-container, .header--slider-preview-container {
  border-radius: 24px;
  background-color: var(--seconary-accent);
  padding: 4px;
}

.header--slider-write, .header--slider-preview {
  font-size: 20px;
  line-height: 27px;
  margin: 0 30px;
}

