<div class="header--container">

  <div class="header--left-container">
    <img
      class="header--back"
      src="assets/images/down-arrow.png"
      alt="back button"
      (click)="toggleEditor()"/>

    <input
      [class]="'header--title '+(tasks.length ? '' : 'hidden')"
      type="text"
      placeholder="Title"
      [(ngModel)]="title"
      (change)="onTitleChange($event)">
  </div>

  <div class="header--button-container">
    <img
      [class]="'header--toolbar-toggle ' + (showToolbar ? 'flipped' : '')"
      src="assets/images/down-arrow.png"
      alt="toolbar toggle"
      (click)="onToolbarChange()"
    />
    <img
      class="header--checkbox"
      [src]="'assets/images/checkbox_'+(((activeTask && activeTask.completed)||false) ? '' :'un')+'filled.png'"
      alt="checkbox"
      (click)="toggleCompleted()"
    />
  </div>

</div>
