<div class="buttons--container">
  <app-delete-all-button
    [class]="'buttons--button-2 ' + (showMenu ? '' : 'hidden')"
    (click)="toggleDeletePrompt()"
  ></app-delete-all-button>
  <app-delete-completed
    [class]="'buttons--button-3 ' + (showMenu ? '' : 'hidden')"
    (click)="toggleCompletedPrompt()"
  ></app-delete-completed>
  <app-info-button
    [class]="'buttons--button-4 ' + (showMenu ? '' : 'hidden')"
    (click)="toggleInfo()"
  ></app-info-button>

  <div
    class="button--container buttons--button-1"
    (click)="toggleMenu()"

  >
    <img class="button--image" src="assets/images/options.png" alt="actions button"/>
  </div>

</div>

<!--<div [class]="'button&#45;&#45;prompt '+(showPrompt ? '' : 'hidden')">-->
<!--  <div class="button&#45;&#45;prompt-text">-->
<!--    <p class="button&#45;&#45;prompt&#45;&#45;main-text">Are you sure you want to delete all your notes?</p>-->
<!--    <p class="button&#45;&#45;prompt&#45;&#45;sub-text"> WARNING: This action cannot be undone.</p>-->
<!--  </div>-->
<!--  <div class="button&#45;&#45;prompt-buttons">-->
<!--    <button-->
<!--      class="button&#45;&#45;prompt-buttons&#45;&#45;confirm"-->
<!--      (click)="deleteAllNotes()"-->
<!--    >Confirm-->
<!--    </button>-->
<!--    <button-->
<!--      class="button&#45;&#45;prompt-buttons&#45;&#45;cancel"-->
<!--      (click)="toggleDeletePrompt()"-->
<!--    >Cancel-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->

<app-popup-prompt
  [class]="showAllNotesPrompt ? '' : 'hidden'"
  question="Are you sure you want to delete all your notes?"
  [allNotes]="true"
  [showPopup]="showAllNotesPrompt"
  (promptDismissed)="dismissPrompt($event)"
></app-popup-prompt>

<app-popup-prompt
  [class]="showCompletedNotesPrompt ? '' : 'hidden'"
  question="Are you sure you want to delete your completed notes?"
  [allNotes]="false"
  [showPopup]="showCompletedNotesPrompt"
  (promptDismissed)="dismissPrompt($event)"
></app-popup-prompt>

<div [class]="'popup_window '+(showInfo ? '' : 'hidden')" (click)="toggleInfo()">
  <div class="button--info-container" (click)="toggleInfo()">
    <p>
      Hey, thanks for checking out this project! It was made to help consolidate my understanding of Angular.js whilst
      also helping me employ some of the UI/UX techniques I had learnt.
    </p>
    <p> Check out the
      <a href="https://www.figma.com/file/GQTxnhir2TgDUJDulqsMWV/Untitled?node-id=28%3A265" title="Figma desgin file">Figma</a>
      design file :)</p>

  <div>Icons made by
    <a href="https://www.flaticon.com/authors/stockio" title="Stockio">Stockio</a>,
    <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a>,
    <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a>,
    <a href="https://www.flaticon.com/authors/anggara" title="Anggara">Anggara</a>,
    <a href="https://www.flaticon.com/authors/flatart-icons" title="flatart_icons">flatart_icons</a>,
    <a href="https://www.freepik.com" title="Freepik">Freepik</a>, and
    <a href="https://www.flaticon.com/authors/senapedia" title="Senapedia">Senapedia</a> from <a
    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

    <button class="button--info-dismiss" (click)="toggleInfo()">Dismiss</button>
  </div>
</div>
