.buttons--container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 4vw 10px 4vw;
  grid-template-rows: 4vw 10px 4vw;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.buttons--button-1 { grid-area: 3 / 3 / 4 / 4; }
.buttons--button-2 { grid-area: 3 / 1 / 4 / 2; }
.buttons--button-3 { grid-area: 1 / 1 / 2 / 2; }
.buttons--button-4 { grid-area: 1 / 3 / 2 / 4; }

.button--container {
  overflow: hidden;
  width: 4vw;
  height: 4vw;
  padding: 10px;
  background-color: var(--primary-colour);
  border-radius: 20px;
  cursor: pointer;
  animation-play-state: paused;
}

.small {
  width: 3vw;
  height: 3vw;
}

.button--container:hover {
 /*TODO implement*/
}

.button--image {
  aspect-ratio: 1/1;
  max-width: 100%;
}

.popup_window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  color: transparent;
  display: grid;
}

/*Prompt window*/

.button--prompt {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25vw;
  height: 25vh;
  background-color: var(--primary-colour);
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.button--prompt-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button--prompt--main-text {
  font-size: 18px;
}

.button--prompt--sub-text {
  font-size: 16px;
  font-style: italic;
}

.button--prompt-buttons > button {
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 16px;
  margin-inline: 15px;
}

.button--prompt-buttons--confirm {
  border: 1px solid var(--primary-accent);
  background-color: rgba(174, 217, 224, 0.15);;
  color: white;
  cursor: pointer;
}

.button--prompt-buttons--cancel {
  background-color: var(--primary-accent);
  border: 1px solid var(--primary-colour);
  cursor: pointer;
}

/*Info popup*/
.button--info-container {
  z-index: 1;
  margin: auto;
  width: 30vw;
  height: 30vh;
  background-color: var(--primary-colour);
  border-radius: 20px;
  padding: 15px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button--info-dismiss {
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 16px;
  margin-inline: 15px;
  border: 1px solid var(--primary-accent);
  background-color: rgba(174, 217, 224, 0.15);;
  color: white;
  cursor: pointer;
  margin-top: 15px;
}

a:link {
  color: #AED9E0;
}

a:visited {
  color: #FFA69E;
}

