.app--container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.app--main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.app--editor-container {
  height: 100%;
  overflow: hidden;
  padding: 30px 30px 0 30px;
}

.app--separator {
  width: 96%;
}

.app--editor {
  flex-grow: 1;
}

.app--button {
  position: absolute;
  bottom: 1.5vw;
  right: 1.5vw;
  width: clamp(9vw, 100%, 10px);
  height: clamp(9vw, 100%, 10px);
}
