<div class="app--container">
  <app-side-bar
    class="app--side-bar">

  </app-side-bar>

  <div class="app--main-content">

<!--    <app-header-->
<!--      class="app&#45;&#45;header"-->
<!--      [editorWriteMode]="editorWriteMode"-->
<!--      [title]="(activeTask && activeTask.title) || ''"-->
<!--      [showToolbar]="showToolbar"-->
<!--      (editorModeChange)="editorWriteModeChange()"-->
<!--      (taskTitleChange)="activeTaskTitleChanged($event)"-->
<!--      (toolbarToggled)="toggleToolbar()"-->
<!--    ></app-header>-->

<!--    <div class="app&#45;&#45;editor-container">-->
<!--      <app-editor-->
<!--        class="app&#45;&#45;editor"-->
<!--        [activeTask]="activeTask"-->
<!--        [write]="editorWriteMode"-->
<!--        [showToolbar]="showToolbar"-->
<!--        (taskContentChange)="activeTaskContentChange($event)"-->
<!--      ></app-editor>-->
<!--    </div>-->

    <app-tasks-list></app-tasks-list>

  </div>

  <app-action-button class="app--button"></app-action-button>
</div>


