<div class="app--container">
  <app-side-bar
    class="app--side-bar"
    [tasks]="tasks"
    (activeChanged)="activeTaskChanged($event)"
    (deleteTask)="deleteTask($event)">

  </app-side-bar>

  <div class="app--main-content">

    <app-header
      class="app--header"
      [editorWriteMode]="editorWriteMode"
      [title]="activeTask.title"
      (editorModeChange)="editorWriteModeChange()"
      (taskTitleChange)="activeTaskTitleChanged($event)"
    ></app-header>

    <hr class="app--separator"/>

    <div class="app--editor-container">
      <app-editor
        class="app--editor"
        [activeTask]="activeTask"
        [write]="editorWriteMode"
        (taskContentChange)="activeTaskContentChange($event)"
      ></app-editor>
    </div>

  </div>
</div>


