<div class="app--container">
  <app-side-bar
    class="app--side-bar"
  ></app-side-bar>

  <div class="app--main-content">

    <app-tasks-list
      class="app--main-container"
      *ngIf="!showEditor; else elseBlock"
    ></app-tasks-list>

    <ng-template #elseBlock>
      <app-header
        class="app--header"
        [editorWriteMode]="editorWriteMode"
        [title]="(activeTask && activeTask.title) || ''"
        [showToolbar]="showToolbar"
        (editorModeChange)="editorWriteModeChange()"
        (taskTitleChange)="activeTaskTitleChanged($event)"
        (toolbarToggled)="toggleToolbar()"
      ></app-header>

      <div class="app--main-container">
        <app-editor
          class="app--editor"
          [activeTask]="activeTask"
          [write]="editorWriteMode"
          [showToolbar]="showToolbar"
          (taskContentChange)="activeTaskContentChange($event)"
        ></app-editor>
      </div>
    </ng-template>

  </div>

  <app-action-button class="app--button"></app-action-button>
</div>


