<div class="side-bar--container">
  <div class="side-bar--header" >
    <img class="side-bar--logo" src="assets/images/logo.png" alt="logo" />
    <h1 class="side-bar--title">Todo List</h1>
  </div>

  <app-side-menu-filter
  *ngFor="let filter of filters;"
  [label]="filter.label"
  [active]="filter.active"
  [iconName]="(filter.active) ? filter.activeIcon : filter.inactiveIcon"
  >
  </app-side-menu-filter>

  <hr class="side-bar--line"/>

  <div *ngIf="tasks != undefined; then thenBlock;"></div>
  <ng-template #thenBlock class="side-bar--task-container">

    <app-side-menu-task
      *ngFor="let task of tasks;"
      [active]="task.active"
      [label]="task.title"
    ></app-side-menu-task>

  </ng-template>



  <app-side-menu-task
    [active]=true
    label="Task 1"
  >
  </app-side-menu-task>
  <app-side-menu-task
    [active]=false
    label="Task 1"
  >
  </app-side-menu-task>
  <app-side-menu-task
    [active]=false
    label="Task 1"
  >
  </app-side-menu-task>
</div>
