.task--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 20px;
  width: auto;
  padding: 10px;
  margin: 10px 140px;
}

.task--left, .task--right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.task--right > * {
  margin-inline: 10px;
}

.task--checkbox {
  margin-left: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.task--checkbox {
  aspect-ratio: 1;
  width: 40px;
  height: 40px;
}

.task--priority {
  width: 52px;
  cursor: pointer;
}

.task--title {
  font-weight: 300;
}
