<div class="task--container">
  <div class="task--left">
    <img class="task--checkbox"
         [src]="'assets/images/checkbox_'+(task.completed ? '' : 'un')+'filled.png'"
         alt="checkbox"
         (click)="toggleTaskCompleted()"/>
    <h3 class="task--title">{{task.title}}</h3>
  </div>

  <div class="task--right">
<!--    <p *ngIf="task.date != undefined">{{getFormattedDate()}}</p>-->

    <mat-form-field
      *ngIf="showDatePicker"
      color="primary"
      appearance="fill">
      <label>{{getFormattedDate()}}</label>
      <input
        class="gone"
        matInput
        [matDatepicker]="picker1"
        [(ngModel)]="date"
        (dateChange)="updateDate($event)">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker
        #picker1
        panelClass="task--date-picker"
      ></mat-datepicker>
    </mat-form-field>


    <img
      *ngIf="task.priority != undefined; else elseBlock"
      class="task--priority"
      [src]="'assets/images/task/priority'+(task.priority)+'.png'"
      alt="priority" />
    <ng-template #elseBlock>
      <div class="task--priority"></div>
    </ng-template>
  </div>
</div>
