:root {
  --primary-colour: #5E6472;
  --primary-accent: #7BEDE1;
  --seconary-accent: #AED9E0;
}

html {
  height: 100vh;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 30px;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

.hidden {
  visibility: hidden;
}

.grey_font {
  color: #97999B;
}

.primary-colour {
  background-color: var(--primary-colour);
}

.primary-accent {
  background-color: var(--primary-accent);
}

.secondary-accent {
  background-color: var(--seconary-accent);
}
